body { background: #F8F2E2 !important; }
tbody { background: white !important; }
thead { background: #F8F2E2 !important; }
table{border: 1px solid black !important;}
tr{border: 1px solid black !important;}
td{border: 1px solid black !important;}
th{border: 1px solid black !important;}